fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters

chromadb

pypdf
sentence-transformers
transformers
torch

rank-bm25
numpy
scikit-learn

tiktoken
requests
streamlit